@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-color: #2e2f31;
  --fill-color: #191919;
  --text-color: #ffffff;
  --header-height: 0;
  --text-color: rgba(0, 0, 0, 0.774);
  --border-color: #e5e7eb;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
}

.half-border-tl {
  border-top-width: 2px;
  border-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 50%,
      var(--blur-color) 50%,
      var(--blur-color) 100%
    )
    1;
}
.half-border-br {
  border-bottom-width: 2px;
  border-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 50%,
      var(--blur-color) 50%,
      var(--blur-color) 100%
    )
    1;
}

.gray-radial {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(248, 250, 252, 1) 100%
  );
}
.black-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    108deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gray-gradient {
  background: rgb(248, 250, 252);
  background: linear-gradient(
    108deg,
    rgba(248, 250, 252, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(248, 250, 252, 1) 100%
  );
}

.slider {
  overflow: hidden;
  position: relative;
  & .list {
    width: 100%;
    height: var(--height);
    position: relative;
    min-width: calc(var(--width) * var(--quntity));
    .item-rtl {
      max-width: var(--width);
      height: 100%;
      position: absolute;
      left: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: autoScrollRtl 20s linear infinite;
      animation-delay: calc((20s / var(--quntity)) * var(--index));
    }
    .item-ltr {
      max-width: var(--width);
      height: 100%;
      position: absolute;
      right: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: autoScrollLtr 20s linear infinite;
      animation-delay: calc((20s / var(--quntity)) * var(--index));
    }
  }
  & {
    @media (width >= 0px) {
      --height: var(--height-small) !important;
      --width: var(--width-small) !important;
    }

    @media (width >= 768px) {
      --height: var(--height-medium) !important;
      --width: var(--width-medium) !important;
    }

    @media (width >= 1200px) {
      --height: var(--height-large) !important;
      --width: var(--width-large) !important;
    }
  }
}

@keyframes autoScrollRtl {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@keyframes autoScrollLtr {
  from {
    right: 100%;
  }
  to {
    right: calc(var(--width) * -1);
  }
}
