@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* transition: [property] [duration] [timing-function] [delay]; */
/* animation: [name] [duration] [timing-function] [delay] [iteration-count] [direction] [fill-mode]; */
@layer base {
  
  * {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  * {
    outline: ato;
  }
  .black-gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      108deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .black-gradient-90deg {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      108deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .gray-gradient {
    background: rgb(248, 250, 252);
    background: linear-gradient(
      108deg,
      rgba(248, 250, 252, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(248, 250, 252, 1) 100%
    );
  }
  .gray-radial {
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(248, 250, 252, 1) 100%
    );
  }
  .black-radial {
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.7987570028011204) 100%
    );
  }
  .aref-ruqaa {
    font-family: "Aref Ruqaa", serif;
    font-style: normal;
  }
  :root {
    --big-wrapper-width: 0;
    --small-wrapper-width: 0;
    --gray-color: #2e2f31;
    --fill-color: #191919;
    --text-color: #ffffff;
    --header-height: 0;
    --wrapperOverflowWidth: 1000px;
    --text-color: rgba(0, 0, 0, 0.774);
    --border-color: #e5e7eb;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .titillium {
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
  }
  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .c1 {
    font-size: clamp(0.25rem, 0.25rem + 0.4vw, 0.625rem);
  }
  .c2 {
    font-size: clamp(0.25rem, 0.25rem + 0.6vw, 0.8125rem);
  }
  .c3 {
    font-size: clamp(0.25rem, 0.25rem + 0.8vw, 1rem);
  }
  .c4 {
    font-size: clamp(0.25rem, 0.25rem + 1.0667vw, 1.25rem);
  }
  .c5 {
    font-size: clamp(0.25rem, 0.25rem + 1.4vw, 1.5625rem);
  }
  .c6 {
    font-size: clamp(0.25rem, 0.25rem + 1.8vw, 1.9375rem);
  }
  .c7 {
    font-size: clamp(0.25rem, 0.25rem + 2.3333vw, 2.4375rem);
  }
  .c8 {
    font-size: clamp(0.25rem, 0.25rem + 3vw, 3.0625rem);
  }
  .c9 {
    font-size: clamp(0.25rem, 0.25rem + 3.8vw, 3.8125rem);
  }
  .clipPath {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  }
  .active {
    background-color: gray;
  }
  .aspect-triangle {
    aspect-ratio: 12/4;
  }
  .-aspect-triangle {
    aspect-ratio: 4/5;
  }
  /* transition: [property] [duration] [timing-function] [delay]; */
  /* animation: [name] [duration] [timing-function] [delay] [iteration-count] [direction] [fill-mode]; */

  .topPartnerWrapper {
    animation: scrollX 20s ease-in-out infinite;
    -webkit-animation: scrollXLeft 20s ease-in-out infinite;
  }
  .downPartnerWrapper {
    animation: scrollX 20s ease-in-out infinite;
    -webkit-animation: scrollXRight 20s ease infinite;
  }
  .wrapper::-webkit-scrollbar {
    display: none;
  }
  @keyframes scrollXLeft {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(var(--big-wrapper-width));
    }
  }
  @keyframes scrollXRight {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(var(--small-wrapper-width));
    }
  }

  .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
